@{
    ViewData["Title"] = "Home Page";
}
<style>
    .fill {
        background-image: url(https://media.istockphoto.com/photos/backlit-golf-course-with-no-golfers-picture-id481345926?k=6&m=481345926&s=612x612&w=0&h=aVi4biT36DvvQE8AMtqKLjWEgj1N0xqf7J-N66X8ReQ=);
        background-repeat: no-repeat;
        background-size: 100%;
    }

   
    


      
</style>



<div class="text-center color text-white fill style=width:100%">
    <h1 class="display-4">MyGolfSpy</h1>
    <p><a href="https://mygolfspy.com/">2021 MOST WANTED DRIVE</a></p>

</div>



<div> 
    <h1> 
<font size="+3">
    Our Mission:(
    We are independent, unbiased and always put the #ConsumerFirst. We spend thousands of hours testing and
    researching products to help you get the most out of your game.This way you can be sure you have reviews you can trust.
</font>
     </h1>

</div>
<br />
<br />



<div class="item">
    <img src="~/images/Free-golf-backgrounds-pictures.jpg" alt="golfP" style="width:100%"/>
    
</div>

<div class="text-body">
    <p>
        POWER TO THE PLAYER:
        MyGolfSpy is on the verge of something groundbreaking. As we speak, golf companies are in control. They have become more about
        marketing than the actual performance of their products. The golfer has been forgotten about. They have put profits over the player.
        MyGolfSpy is about to put you back in control. 100% of golfers will finally be able to reach their games full potential. This way information
        really is power and distance and accuracy. Our new system is based on truth not hype. Performance not marketing.
    </p>

</div>



